<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome to <%= title %> <%= subtitle%></p>
    <a href="http://www.cs.sonoma.edu/~haderman/">CS355</a>
    <br /><a href="/address1/all">Address Views</a>
    <br /><a href="/event/all">Event Views</a>
    <br /><a href="/attendee/all">Attendee Views</a>
    <br /><a href="/parking/all">Parking Views</a>
    <br /><a href="/info/all">Info Views</a>
  </body>
</html>
