<!DOCTYPE html>
<html>
<head>
    <title>Info - Add</title>
</head>
<body>
<h1>Add New Info</h1>
<form action="/info/insert" method="get">
    Allowed: <input name="allowed" type="text" />
    Denied: <input name="denied" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>