<!DOCTYPE html>
<html>
<head>
    <title>Menu - Add</title>
</head>
<body>
<h1>Add New Menu</h1>
<form action="/menu/insert" method="get">
    Food: <input name="food" type="text" />
    Beverage: <input name="beverage" type="text" />
    Price: <input name="price" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>