<!DOCTYPE html>
<html>
<head>
    <title>Menu - View All</title>
</head>
<body>
<h1>Menu</h1>

<table border="1">
    <tr>
        <th>Food</th>
        <th>Beverage</th>
        <th>Price</th>
    </tr>
    <% for(var i = 0; i < menu.length; i++) { %>
    <tr>
        <td><%= menu[i].food %></td>
        <td><%= menu[i].beverage %></td>
        <td><%= menu[i].price %></td>
    </tr>

    <% } %>
</table>

</body>
</html>