<!DOCTYPE html>
<html>
<head>
    <title>Parking - Add</title>
</head>
<body>
<h1>Add New Parking</h1>
<form action="/parking/insert" method="get">
    Parking Number: <input name="parking_num" type="text" />
    Vehicle: <input name="vehicle" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>