<!DOCTYPE html>
<html>
<head>
    <title>Event - Add</title>
</head>
<body>
<h1>Add New Event</h1>
<form action="/event/insert" method="get">
    Event Name: <input name="event_name" type="text" />
    <br />
    <input type="submit" />

</form>
</body>
</html>